
<!-- Favicon for browser tabs and bookmarks -->
<link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">

<!-- Support for Apple devices (iPhone/iPad homescreen icon) -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | relative_url }}">

<!-- Support for modern browsers and pinned tabs -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | relative_url }}">


{%- if page.tailwind -%}
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
{%- endif -%}

{%- if page.jquery or page.microblog -%}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
{%- endif -%}


