.footer-links {
    display: grid;
    grid-template-columns: 1fr auto 1fr; // left, center (auto), right
    align-items: center;
    width: 100%;
}

.footer-previous {
    justify-self: start;
    margin-left: 10vw;
}

.footer-home {
    justify-self: center;
}

.footer-next {
    justify-self: end;
    margin-right: 10vw;
}