---
layout: post 
---

{% comment %} 
Setup course data
{% endcomment %}

{% assign shared = site.data.cs %}
{% assign course = site.data[page.course] %}
{% assign units = page.units | split: ',' %}

{% comment %} 
Load all posts
{% endcomment %}
{% assign posts = null | compact %}
{% assign posts = posts | concat:site.posts | concat:site.pages %}

{% comment %} 
Iterate through Course Units
{% endcomment %}
{% for unit in units %}
  {% comment %} 
  Extract unit data for the Sprint
  {% endcomment %}
  {% assign unitKey = "Sprint" | append: unit %}
  {% assign unitData = course[unitKey] %}
  {% assign courseUnit = course[unitKey] %}
  {% assign start = unitData.start %}
  {% assign end = unitData.end %}

  {% comment %} 
  Override unit data with shared unit data if available, ie common between courses
  {% endcomment %}
  {% if courseUnit.shared %}
    {% assign unitData = shared[courseUnit.shared] %}
  {% endif %}

  {% comment %} 
  Heading content for the Sprint
  {% endcomment %}
  <h2>{{ unitKey }}: {{ unitData.title }}</h2>
  <h3>Weeks: {{ start }} - {{ end }}</h3>
  <p>{{ unitData.description }}</p>

  {% comment %} 
  Text based illustration for Sprint objectives
  {% endcomment %}
  {% if unitData.illustration %}
    <details>
      <summary>Textual Illustration of Goals</summary>
      <pre>
        <p>{{ unitData.illustration }}</p>
      </pre>
    </details>
    <br/>
  {% endif %}

  {% comment %} 
  Mermaid based illustration for Sprint objectives
  {% endcomment %}
  {% if unitData.mermaid_figure %}
    <details>
      <summary>Grapical Illustration of Goals</summary>
      <div class="mermaid">
        {{ unitData.mermaid_figure }}
      </div>
    </details>
    <br/>
  {% endif %}

  {% comment %} 
  Column Headings for Articles, ie Blogs
  {% endcomment %}
  <table>
    <tr>
      <th>Title</th>
      <th>Type</th>
    </tr>

    {% comment %} 
    Generate a table of posts for the current Sprint
    {% endcomment %}

    {% for index in (start..end) %}
      {% comment %}
      Locate posts in the matching weeks of Sprint
      {% endcomment %}
      {% assign entries = null | compact %}
      {% for post in posts %}
        {% if post.courses[page.course] %}
          {% assign week = post.courses[page.course].week | plus: 0 %}
          {% if week == index %}
            {% assign entry = post.title | append: "||" | append: post.url | append: "||" | append: post.type %}
            {% assign entries = entries | push: entry %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% comment %}
      Render the located posts 
      {% endcomment %}
      {% for entry in entries %}
        {% assign parts = entry | split: "||" %}
        <tr>
          <td>
            <a href="{{ site.baseurl }}{{ parts[1] }}">{{ parts[0] }}</a>
          </td>
          <td>
            {{ parts[2] }}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
{% endfor %}
